@media (max-width:992px){
    .heading-section{
        display: block;
    }
    .heading-section-h1{
        top: 50px;
        margin-left: 0;
    }
    .third-section-images{
        left: 40%;
    }
    .my-width{
        display: block;
        overflow: hidden;
        width: 500px;
    }
    .my-width h5, p{
        text-align: center;
    }
    .my-flex{
        flex-direction: column;
    }
    .last-image{
        position: relative;
        right: 50px;
        width: 100%;
    }
}
@media only screen and (max-width:1000px) and (min-width:760px){
    .my-buttons{
        padding: 15px 30px;
    }
}
@media (max-width:710px){
    .container-fluid .navbar-brand img{
        width: 400px;
    }
    .heading-section img{
        margin-left: 10px;
        max-width: 415px;
        position: relative;
        top: 350px;
    }
    .heading-section-h1{
        margin-left: 10px;
        max-width: 415px;
        position: relative;
        top: -400px;
    }
    .third-section-images{
        left: 40%;
    }
    .my-width{
        display: block;
        overflow: hidden;
        width: 500px;
    }
    .my-width h5, p{
        text-align: center;
    }
    .my-flex{
        flex-direction: column;
    }
    .last-image{
        position: relative;
        right: 50px;
        width: 100%;
    }
}

